.katex
  font normal 1.21em KaTeX_Main, Times New Roman, serif
  line-height 1.2
  text-indent 0
  text-rendering auto
  border-color currentColor
  *
    -ms-high-contrast-adjust none !important
  .katex-version
    &::after
      content "0.12.0"
  .katex-mathml
    position absolute
    clip rect(1px, 1px, 1px, 1px)
    padding 0
    border 0
    height 1px
    width 1px
    overflow hidden
  .katex-html
    & > .newline
      display block
  .base
    position relative
    display inline-block
    white-space nowrap
    width min-content
  .strut
    display inline-block
  .textbf
    font-weight bold
  .textit
    font-style italic
  .textrm
    font-family KaTeX_Main
  .textsf
    font-family KaTeX_SansSerif
  .texttt
    font-family KaTeX_Typewriter
  .mathnormal
    font-family KaTeX_Math
    font-style italic
  .mathit
    font-family KaTeX_Main
    font-style italic
  .mathrm
    font-style normal
  .mathbf
    font-family KaTeX_Main
    font-weight bold
  .boldsymbol
    font-family KaTeX_Math
    font-weight bold
    font-style italic
  .amsrm
    font-family KaTeX_AMS
  .mathcal
    font-family KaTeX_Caligraphic
  .mathtt
    font-family KaTeX_Typewriter
  .mainrm
    font-family KaTeX_Main
    font-style normal
  .vlist-t
    display inline-table
    table-layout fixed
    border-collapse collapse
  .vlist-r
    display table-row
  .vlist
    display table-cell
    vertical-align bottom
    position relative
    & > span
      display block
      height 0
      position relative
      & > span
        display inline-block
      & > .pstrut
        overflow hidden
        width 0
  .vlist-t2
    margin-right -2px
  .vlist-s
    display table-cell
    vertical-align bottom
    font-size 1px
    width 2px
    min-width 2px
  .vbox
    display inline-flex
    flex-direction column
    align-items baseline
  .hbox
    display inline-flex
    flex-direction row
    width 100%
  .thinbox
    display inline-flex
    flex-direction row
    width 0
    max-width 0
  .msupsub
    text-align left
  .mfrac
    & > span
      & > span
        text-align center
    .frac-line
      display inline-block
      width 100%
      border-bottom-style solid
  .mspace
    display inline-block
  .llap
    & > .inner
      right 0
  .clap
    & > .inner
      & > span
        margin-left -50%
        margin-right 50%
  .rule
    display inline-block
    border solid 0
    position relative
  .hdashline
    display inline-block
    width 100%
    border-bottom-style dashed
  .sqrt
    & > .root
      margin-left 0.27777778em
      margin-right -0.55555556em
  .delimsizing
    &.size1
      font-family KaTeX_Size1
    &.size2
      font-family KaTeX_Size2
    &.size3
      font-family KaTeX_Size3
    &.size4
      font-family KaTeX_Size4
    &.mult
      .delim-size1
        & > span
          font-family KaTeX_Size1
      .delim-size4
        & > span
          font-family KaTeX_Size4
  .nulldelimiter
    display inline-block
    width 0.12em
  .delimcenter
    position relative
  .op-symbol
    position relative
    &.small-op
      font-family KaTeX_Size1
    &.large-op
      font-family KaTeX_Size2
  .op-limits
    & > .vlist-t
      text-align center
  .accent
    & > .vlist-t
      text-align center
    .accent-body
      position relative
      &:not(.accent-full)
        width 0
  .overlay
    display block
  .mtable
    .vertical-separator
      display inline-block
      min-width 1px
    .arraycolsep
      display inline-block
    .col-align-c
      & > .vlist-t
        text-align center
    .col-align-l
      & > .vlist-t
        text-align left
    .col-align-r
      & > .vlist-t
        text-align right
  .svg-align
    text-align left
  svg
    display block
    position absolute
    width 100%
    height inherit
    fill currentColor
    stroke currentColor
    fill-rule nonzero
    fill-opacity 1
    stroke-width 1
    stroke-linecap butt
    stroke-linejoin miter
    stroke-miterlimit 4
    stroke-dasharray none
    stroke-dashoffset 0
    stroke-opacity 1
    path
      stroke none
  img
    border-style none
    min-width 0
    min-height 0
    max-width none
    max-height none
  .stretchy
    width 100%
    display block
    position relative
    overflow hidden
  .hide-tail
    width 100%
    position relative
    overflow hidden
  .halfarrow-left
    position absolute
    left 0
    width 50.2%
    overflow hidden
  .halfarrow-right
    position absolute
    right 0
    width 50.2%
    overflow hidden
  .brace-left
    position absolute
    left 0
    width 25.1%
    overflow hidden
  .brace-center
    position absolute
    left 25%
    width 50%
    overflow hidden
  .brace-right
    position absolute
    right 0
    width 25.1%
    overflow hidden
  .x-arrow-pad
    padding 0 0.5em
  .boxpad
    padding 0 0.3em 0 0.3em
  .cancel-pad
    padding 0 0.2em 0 0.2em
  .cancel-lap
    margin-left -0.2em
    margin-right -0.2em
  .sout
    border-bottom-style solid
    border-bottom-width 0.08em

  .mathbb,
  .textbb
    font-family KaTeX_AMS

  .mathfrak,
  .textfrak
    font-family KaTeX_Fraktur

  .mathscr,
  .textscr
    font-family KaTeX_Script

  .mathsf,
  .textsf
    font-family KaTeX_SansSerif

  .mathboldsf,
  .textboldsf
    font-family KaTeX_SansSerif
    font-weight bold

  .mathitsf,
  .textitsf
    font-family KaTeX_SansSerif
    font-style italic

  .mfrac .frac-line,
  .overline .overline-line,
  .underline .underline-line,
  .hline,
  .hdashline,
  .rule
    min-height 1px

  .llap,
  .rlap,
  .clap
    width 0
    position relative

  .llap > .inner,
  .rlap > .inner,
  .clap > .inner
    position absolute

  .llap > .fix,
  .rlap > .fix,
  .clap > .fix
    display inline-block

  .rlap > .inner,
  .clap > .inner
    left 0

  .overline .overline-line,
  .underline .underline-line,
  .hline
    display inline-block
    width 100%
    border-bottom-style solid

  .sizing, .fontsize-ensurer
    $last-num = 1
    $sizes = 0.5, 0.6, 0.7, 0.8, 0.9, 1, 1.2, 1.44, 1.728, 2.074, 2.488
    $sizes2 = 1, 0.833, 0.714, 0.625, 0.555, 0.5, 0.416, 0.34, 0.289, 0.241, 0.2
    --katex-reset-fs: 1
    for $num in (0...11)
      $idx = $num + 1
      &.size{$idx}
        $size = round(2 * $sizes[$num],3)
        font-size: 'calc(%sem * var(--katex-reset-fs))' % ($size)
      &.reset-size{$idx}
        --katex-reset-fs: $sizes2[$num]

  .stretchy::before,
  .stretchy::after
    content ""

  .x-arrow,
  .mover,
  .munder
    text-align center

  .fbox,
  .fcolorbox
    box-sizing border-box
    border 0.04em solid

.katex-display
  display block
  margin 1em 0
  text-align center
  & > .katex
    display block
    text-align center
    white-space nowrap
    & > .katex-html
      display block
      position relative
      & > .tag
        position absolute
        right 0
  &.leqno > .katex > .katex-html > .tag
    left 0
    right auto
  &.fleqn > .katex
      text-align left
      padding-left 2em