@require '_lib'
.pgnf
  text-align: center

.pgnf-blackbox
  background: black
  border-radius: 10px
  padding: 2rem 0
  shadow-elevation(8px)

.pgnf-header, .pgnf-text
  terminal-text()
  font-set('mono')

.pgnf-header
  font-size: 5rem