@require '_lib'

.link
  text-decoration: none
  transition: color 0.05s

  +on-hover()
    text-decoration: underline

.link-external
  color: colvar('link-ext')

  +on-hover()
    color: colvar('link-ext', lighten 10%)

.link-internal
  color: colvar('link-int')

  +on-hover()
    color: colvar('link-int', lighten 10%)