@require '_lib'

pre
  position: relative
  width: 100%
  max-width: 100%
  margin: 0
  padding: 0
  color: var(--colcode-content)
  font-size: 0.875rem
  white-space: pre
  text-align: left
  word-wrap: normal
  word-break: normal
  tab-size: 4
  hyphens: none
  border-radius: 10px
  box-shadow: 0 0 0.125rem 0 colvar('border')
  contain: content

  +match-media(thin, below)
    font-size: 0.75rem

  code
    display: block
    width: 100%
    padding: 1.5em 1em
    overflow-x: auto
    background: var(--colcode-background)

:not(pre)
  > code
    display: inline-block
    padding: 0.1em 0.25em
    font-size: 0.9em
    white-space: normal
    border-radius: 0.2em
  > code[class*=language-], > code.code
    color: var(--colcode-content)
    background: var(--colcode-background)

+prefix-classes('token.')
  .block-comment, .cdata, .comment, .doctype, .prolog
    color: var(--colcode-comment)

  .punctuation
    color: var(--colcode-punct)

  .variable, .parameter
    color: var(--colcode-ident)

  .deleted
    color: var(--colcode-invalid)

  .inserted
    color: var(--colcode-inserted)

  .function, .function-name, .attr-id
    color: var(--colcode-function)
  
  .property
    color: var(--colcode-property)

  .tag
    color: var(--colcode-tag)

  .attr-name, .attr-value, .selector
    color: var(--colcode-attribute)

  .boolean, .number, .constant, .symbol, .unit
    color: var(--colcode-constant)

  .keyword, .atrule, .important
    color: var(--colcode-keyword)

  .char, .string
    color: var(--colcode-string)

  .builtin, .generic, .class-name
    color: var(--colcode-type)

  .url
    color: var(--colcode-link)

  .namespace, .entity
    color: var(--colcode-entity)

  .regex, .operator
    color: var(--colcode-operator)

  +prefix-classes('token.keyword-')
    // .public, .private, .readonly, 
    // .const, .let, .var, .new, .type
    //   color: var(--colcode-storage)

    .this, .self
      color: var(--colcode-special)

  .bold, .important
    font-weight: bold

  .italic
    font-style: italic