@require '_lib'

pre[class*=language-], pre.code
  position: relative
  width: 100%
  max-width: 100%
  margin: 0
  padding: 0
  contain: content

  color: #ABB2BF
  shadow-elevation(8)
  border-radius: 10px

  font-size: 0.875rem
  text-align: left
  white-space: pre
  word-break: normal
  word-wrap: normal
  tab-size: 4
  hyphens: none

  +match-media(thin, below)
    font-size: 0.75rem

  code
    display: block
    padding: 1.5em 1em
    width: 100%
    overflow-x: auto
    background: #282C34


:not(pre)
  > code
    display: inline-block
    font-size: 0.9em
    white-space: normal
    padding: 0.1em 0.25em
    border-radius: 0.2em
  > code[class*=language-], > code.code
    background: #282C34
    color: #ABB2BF


// #ABB2BF
// #5C6370
// #D19A66
// #56B6C2
// #E06C75
// #E5C07B
// #98C379
// #C678DD
// #61AFEF
// #2D8EDF

+prefix-classes('token.')
  .block-comment, .cdata, .comment, .doctype, .prolog
    color: #5C6370

  .punctuation
    color: #FFFFFF30

  .variable, .deleted, .tag
    color: #E06C75

  .inserted
    color: #98C379

  .function, .function-name, .attr-id
    color: #61AFEF

  .parameter, .property
    color: #2D8EDF

  .attr-name, .attr-value, .class-name, .builtin, .selector
    color: #E5C07B

  .boolean, .number, .constant, .symbol, .unit
    color: #D19A66

  .keyword, .atrule, .important
    color: #C678DD

  .namespace, .url, .char, .string
    color: #98C379

  .regex, .entity, .operator
    color: #56B6C2

  +prefix-classes('token.keyword-')
    .public, .private, .readonly, 
    .const, .let, .var, .new
      color: #56B6C2

    .this
      color: #E06C75

  .bold, .important
    font-weight: 700

  .italic
    font-style: italic