@require '_lib'

// TODO: Blockquote, li, ul, ol
// ? style <i> tags differently from <em>
// ? style <b> tags differently from <strong>
// TODO: add <u> tag (error tag)

$text-tags = 'a, p, span, small, h1, h2, h3, h4, h5, h6'

::selection
  color: colvar('text-light')
  background-color: colvar('text-select')

body
  background: colvar('background-light')
  color: colvar('text-dark')

// Orderly Heading Sizes
for $num in (0..5)
  h{$num + 1}
    $sizes = 2.25rem, 2rem, 1.75rem, 1.5rem, 1.25rem, 1rem
    $size = $sizes[$num]
    font-size: 'calc(%s * var(--font-content-size))' % $size

// Horizontal rules.
hr
  display: block
  height: 0.125rem
  background: colvar('background-dim')

// Indents lists.
ul, ol
  padding-left: 1rem

// Prevents <sub> and <sup> elements from affecting line-height.
sub, sup
  font-size: 75%
  line-height: 0

// Styles underlines globally.
u, {$text-tags}
  text-decoration-skip-ink: none
  text-underline-offset: 0.075em
  text-decoration-thickness: 0.05em

// Struck-out text.
s
  text-decoration: line-through 0.15em

// Highlighted text.
mark
  background: colvar('text-highlight')
  color: colvar('black')

table
  width: 100%
  margin-left: auto
  margin-right: auto

// -- LINKS

a[href]
  transition: color 0.05s, text-decoration-color 0.1s
  text-decoration: currentColor underline 0.1em

// Styles external links.
a[href*='//']:not([href*='scp-mainframe.com']):not([href*='localhost'])
  color: colvar('link-ext')
  text-decoration-color: colvar('link-ext', opacity 0.5)
  +on-hover()
    color: colvar('link-ext', darken 10%)
    text-decoration-color: currentColor

// Styles internal links.
a[href^="/"], a[href^=".."], a[href^="#"], a[href*='scp-mainframe.com'], a[href*='localhost']
  color: colvar('link-int')
  text-decoration-color: transparent
  +on-hover()
    color: colvar('link-int', darken 10%)
    text-decoration-color: currentColor

// -- CRITICAL ELEMENTS

// Inserted text. {++ ++}
ins
  background: colvar('critic-inserted', opacity 0.25)
  text-decoration: underline colvar('critic-inserted') 0.125em
  text-decoration-skip-ink: none

// Deleted text. {-- --}
del
  background: colvar('critic-deleted', opacity 0.25)
  text-decoration: underline colvar('critic-deleted') 0.125em
  text-decoration-skip-ink: none

// Substitution arrow. ~>
span.critic-sub-arrow
  background: colvar('critic-sub-arrow', opacity 0.25)
  padding: 0 0.5em

// Highlighted text. {== ==}
mark.critic-highlighted
  background: colvar('critic-highlighted', opacity 0.25)
  text-decoration: underline colvar('critic-highlighted') 0.125em
  text-decoration-skip-ink: none

// Comment metadata. {>> <<}
span.critic-metadata
  position: absolute
  font-size: 70%
  transform: translate(-50%, 100%)
  z-index: 1
  text-decoration: underline colvar('critic-comment') 0.125em
  color: colvar('critic-comment')
  transition: background 0.05s, padding 0.1s, color 0.1s, transform 0.05s, font-size 0.05s

  // TODO: make work on active for mobile
  +on-hover()
    background: colvar('critic-comment')
    color: white
    padding: 0.1em 0.25em
    font-size: 100%
    transform: translate(-50%, 50%)
    border-radius: 0.25em

// -- A11Y

// Makes tags more semantic and meaningful for screen-readers.
mark
  label-for-screenreaders('highlighted text')
s
  label-for-screenreaders('stricken text')
s
  label-for-screenreaders('deleted text')
ins
  label-for-screenreaders('inserted text')

// Change the cursor on busy elements.
[aria-busy="true" i]
  cursor: progress

// Change the cursor on control elements.
[aria-controls]
  cursor: pointer

// Change the cursor on disabled, not-editable, or otherwise inoperable elements.
[aria-disabled="true" i], [disabled]
  cursor: not-allowed

// Change the display on visually hidden accessible elements.
[aria-hidden="false" i][hidden]
  display: initial

[aria-hidden="false" i][hidden]:not(:focus)
  clip: rect(0, 0, 0, 0)
  position: absolute

// Prevent VoiceOver from ignoring list semantics in Safari.
nav li::before
  content: "\200B"

// -- COMPONENTS

.icon-scp
  width: 1em
  height: 1em
  fill: currentColor