@require '_lib'

:root
  --layout-footer-height: 2rem

@keyframes footer-load
  from
    opacity: 0
  to
    opacity 1

.in-edit #footer
  display: none

#footer
  height: var(--layout-footer-height)
  background: colvar('gray')
  color: colvar('text-dim')
  font-set('display')
  font-size: 1rem
  font-weight: 400
  padding: 0.25rem 0

  // Delays the appearence of the footer to prevent a flash on page load
  animation: footer-load 0.25s 1 0.5s ease backwards

#footer_list
  display: flex
  margin: 0
  padding: 0
  list-style: none

  > li
    margin: 0
    margin-left: 1rem
    padding: 0

    > a
      text-decoration: none

#footer_pmf
  color: colvar('text-light')
  font-family: 'Title Font', var(--font-mono)