@require '_lib'

.in-edit, html:not(.loaded)
  #footer
    display: none

#footer
  min-height: var(--layout-footer-height)
  padding: 0.25rem 0
  color: colvar('text-subtle')
  font-weight: 400
  font-size: 1rem
  line-height: 1.25
  background: colvar('background')
  font-set('display')

#footer_list
  display: flex
  align-items: center
  min-height: var(--layout-footer-height)
  margin: 0
  padding: 0
  list-style: none

  > li
    margin: 0
    margin-left: 1rem
    padding: 0

  +match-media(thin, below)
    flex-direction: column
    > li
      margin: 0 0.5rem
      text-align: center

#footer_license
  font-size: 0.75rem
  font-set('sans')

#footer_pb
  white-space: nowrap

#footer_pbmf
  color: colvar('text')
  font-family: 'Title Font', var(--font-mono)