@require '_lib'

// 'Rhythm' Automatic Spacing Grid
// Go to the .rhythm class selector below for an explanation of this class.

// Corrects the height of text tags by adjusting their margins.
// Lines are centered within their line-height, which is usually larger than the font itself.
// This causes overpadding at the top and bottom of text nodes.
rhythm-set-text-bounds(auto = true)
  lh = s('(1em * var(--rhythm-baseline))')
  fh-relative = 'calc((%s - 1rem * var(--font-cap)) *  -0.5)' % lh
  fh-actual = 'calc((%s - 1em * var(--font-cap)) * -0.5)' % lh

  margin-top: fh-relative unless auto
  margin-top: fh-actual if auto
  margin-bottom: fh-relative unless auto
  margin-bottom: fh-actual if auto

$nest-tags = 'div, article, section, blockquote'
$block-tags = 'p, h1, h2, h3, h4, h5, h6'
$text-tags = 'a, p, span, small, h1, h2, h3, h4, h5, h6'
$figure-tags = 'img, figure, table, pre, ol, ul, hgroup'
$break-tags = 'br, hr'
$section-tags = 'h1, h2, h3, h4, h5, h6'
$heading-tags = 'h1, h2, h3, h4, h5, h6'

.rhythm
  // Default Rhythm Settings
  --rhythm-baseline: 1.5
  --rhythm-reference-font-size: calc(1rem * var(--font-content-size))

  // Auto-calculated Vars (don't change these)
  --rhythm-baseline-row: calc(var(--rhythm-baseline) / 2)
  --rhythm-baseline-unit: calc(var(--rhythm-reference-font-size) * var(--rhythm-baseline))
  --rhythm-baseline-unit-row: calc(var(--rhythm-baseline-unit) / 2)

  &, {$nest-tags}
    position: relative
    display: flex
    flex-direction: column
    row-gap: var(--rhythm-baseline-unit)
    line-height: var(--rhythm-baseline)

    // Line-height correction
    +select-listed('>', $block-tags)
      position: relative
      width: 100%
      line-height: inherit
      rhythm-set-text-bounds()

    +select-listed('>', $section-tags)
      padding-top: var(--rhythm-baseline-unit-row)

    // Shifts <hr>s up when in front of a heading
    +select-listed('>', $heading-tags)
      + hr
        position: relative
        top: calc(var(--rhythm-baseline-unit-row) * 0.25)
        width: 100%
        margin-top: calc(var(--rhythm-baseline-unit) * -0.75)