@require '_lib'

.tippy-box[data-theme~='mainframe']

  filter: drop-shadow(0 0 5px rgba(black, 0.4))
  background-color: colvar('background')
  color: colvar('text')

  font-set('display', false)
  font-size: 1rem

  .tippy-svg-arrow
    color: colvar('background')