@require '_lib'

:root
  // Monochrome Colors
  colvar-set('white',      hsl(rgb(245, 245, 245)))
  colvar-set('lightgray',  hsl(rgb(185, 185, 185)))
  colvar-set('gray',       hsl(rgb(60, 50, 55)))
  colvar-set('black',      hsl(rgb(20, 20, 20)))

  // Text Colors
  colvar-set('text-light', hsl(rgb(250, 235, 240)))
  colvar-set('text-dim', hsl(rgb(210, 200, 205)))
  colvar-set('text-dark', hsl(rgb(30, 25, 25)))

  // Accent Colors
  colvar-set('accent', hsl(rgb(135, 0, 5)))
  colvar-set('alt',    hsl(rgb(220, 100, 15)))

  // Contextual Colors
  colvar-set('success', hsl(rgb(50, 220, 65)))
  colvar-set('danger',  hsl(rgb(180, 45, 10)))
  colvar-set('warning', hsl(rgb(220, 215, 40)))
  colvar-set('info',    hsl(rgb(20, 125, 205)))

  // Misc Colors
  colvar-set('highlight', hsl(rgb(255,255,0)))
  colvar-set('link-ext', hsl(rgb(100, 160, 255)))
  colvar-set('link-int', hsl(rgb(180, 0, 20)))

  // Parameter Colors
  colvar-set('background-light', hsl(rgb(245, 245, 245)))
  colvar-set('background-dark', hsl(rgb(60, 50, 55)))
