@require '_lib'

:root
  // Monochrome Colors
  colvar-set('white',      rgb(245, 245, 245))
  colvar-set('lightgray',  rgb(185, 185, 185))
  colvar-set('gray',       rgb(60, 50, 55))
  colvar-set('black',      rgb(20, 20, 20))

  // Text Colors
  colvar-set('text-light', rgb(250, 235, 240))
  colvar-set('text-dim',  rgb(210, 200, 205))
  colvar-set('text-dark', rgb(30, 25, 25))

  // Accent Colors
  colvar-set('accent', rgb(135, 0, 5))
  colvar-set('alt',    rgb(220, 100, 15))

  // Contextual Colors
  colvar-set('success', rgb(50, 220, 65))
  colvar-set('danger',  rgb(180, 45, 10))
  colvar-set('warning', rgb(220, 215, 40))
  colvar-set('info',    rgb(20, 125, 205))

  // Critical Colors
  colvar-set('critic-inserted',  rgb(50, 255, 65))
  colvar-set('critic-deleted',  rgb(255, 50, 20))
  colvar-set('critic-sub-arrow',  rgb(255, 150, 20))
  colvar-set('critic-highlighted',  rgb(200, 120, 200))
  colvar-set('critic-comment',  rgb(50, 150, 255))

  // Misc Colors
  colvar-set('text-highlight', rgb(255,255,0))
  colvar-set('text-select', rgb(100, 160, 255))
  colvar-set('link-ext', rgb(100, 160, 255))
  colvar-set('link-int', rgb(180, 0, 20))

  // Parameter Colors
  colvar-set('background-light', rgb(245, 245, 245))
  colvar-set('background-dim',   rgb(215, 215, 215))
  colvar-set('background-dark',  rgb(60, 50, 55))
