@require '_lib'

// -- Global Colors

:root
  // Monochrome Colors
  colvar-set('white',      rgb(245, 245, 245))
  colvar-set('lightgray',  rgb(185, 185, 185))
  colvar-set('gray',       rgb(60, 50, 55))
  colvar-set('black',      rgb(20, 20, 20))

  // Accent Colors
  colvar-set('accent-1', rgb(135, 0, 5))
  colvar-set('accent-2', rgb(50, 150, 255))

  // Hints
  colvar-set('hint', rgb(50, 150, 255))

  // Contextual Colors
  colvar-set('success', rgb(50, 220, 65))
  colvar-set('danger',  rgb(180, 45, 10))
  colvar-set('warning', rgb(220, 215, 40))
  colvar-set('info',    rgb(20, 125, 205))

  // Misc Colors
  colvar-set('text-highlight', rgb(255,255,0))
  colvar-set('text-select',    rgba(50, 150, 255, 0.25))
  colvar-set('link-ext',       rgb(50, 150, 255))
  colvar-set('link-int',       rgb(180, 0, 20))

  // Critical Colors
  colvar-set('critic-inserted',    rgb(50, 255, 65))
  colvar-set('critic-deleted',     rgb(255, 50, 20))
  colvar-set('critic-sub-arrow',   rgb(255, 150, 20))
  colvar-set('critic-highlighted', rgb(200, 120, 200))
  colvar-set('critic-comment',     rgb(50, 150, 255))

// -- Light / Dark Colors

.light
  colvar-set('text',        rgb(30, 25, 25))
  colvar-set('text-subtle', rgb(55, 55, 60))
  colvar-set('text-dim',    rgb(120, 120, 125))
  colvar-set('background',  rgb(245, 245, 245))
  colvar-set('border',      rgb(220, 220, 220))

  // Contrasting (opposite) colors
  colvar-set('con-text',        rgb(235, 225, 230))
  colvar-set('con-text-subtle', rgb(205, 200, 200))
  colvar-set('con-text-dim',    rgb(190, 185, 185))
  colvar-set('con-background',  rgb(43, 43, 50))
  colvar-set('con-border',      rgb(65, 65, 75))

  color: colvar('text')
  background: colvar('background')

.dark
  colvar-set('text',        rgb(235, 225, 230))
  colvar-set('text-subtle', rgb(205, 200, 200))
  colvar-set('text-dim',    rgb(190, 185, 185))
  colvar-set('background',  rgb(43, 43, 50))
  colvar-set('border',      rgb(65, 65, 75))

  // Contrasting (opposite) colors
  colvar-set('con-text',        rgb(30, 25, 25))
  colvar-set('con-text-subtle', rgb(55, 55, 60))
  colvar-set('con-text-dim',    rgb(120, 120, 125))
  colvar-set('con-background',  rgb(245, 245, 245))
  colvar-set('con-border',      rgb(220, 220, 220))

  color: colvar('text')
  background: colvar('background')

.codetheme-dark
  --colcode-background: #282B34
  --colcode-border:     #3A3A44
  --colcode-selection:  #4B5365A6
  --colcode-accent:     #3296FF

  --colcode-content:    #AFB4BE
  --colcode-comment:    #5C6370
  --colcode-commentdoc: #687387
  --colcode-punct:      #646473
  --colcode-link:       #64a0ff

  --colcode-special:    #E06C75
  --colcode-invalid:    #FF3214

  --colcode-inserted:   #54D169
  --colcode-changed:    #FF9614
  --colcode-important:  #FFCB6BEE
  --colcode-highlight:  #C878C8
  --colcode-note:       #5694D6

  --colcode-keyword:    #C678DD
  --colcode-logical:    #C678DD
  --colcode-operator:   #56B6C2
  --colcode-string:     #98C379
  --colcode-entity:     #98C379
  --colcode-type:       #E5C07B
  --colcode-ident:      #2D8EDF
  --colcode-function:   #61AFEF
  --colcode-constant:   #D19A66
  --colcode-property:   #E06C75
  --colcode-tag:        #E06C75
  --colcode-id:         #2D8EDF
  --colcode-class:      #98C379
  --colcode-attribute:  #FFCB6B

.codetheme-light
  --colcode-background: #F0f0F2
  --colcode-border:     #D2d2D7
  --colcode-selection:  #3296ff20
  --colcode-accent:     #1262B5

  --colcode-content:    #222222
  --colcode-comment:    #666666
  --colcode-commentdoc: #666688
  --colcode-punct:      #818d94
  --colcode-link:       #64a0ff

  --colcode-special:    #EC1C12
  --colcode-invalid:    #FF3214

  --colcode-inserted:   #54D169
  --colcode-changed:    #FF9614
  --colcode-important:  #FFCB6BEE
  --colcode-highlight:  #C878C8
  --colcode-note:       #5694D6

  --colcode-keyword:    #C708FF
  --colcode-logical:    #C708FF
  --colcode-operator:   #41b2d1
  --colcode-string:     #10AB00
  --colcode-entity:     #10AB00
  --colcode-type:       #9C8922
  --colcode-ident:      #005296
  --colcode-function:   #3394cc
  --colcode-constant:   #BB5F00
  --colcode-property:   #EC1C12
  --colcode-tag:        #EC1C12
  --colcode-id:         #3394cc
  --colcode-class:      #10AB00
  --colcode-attribute:  #FFCB6B


// -- Global Layout
:root
  --layout-navbar-height: 2.5rem
  --layout-sidebar-width: 16rem
  --layout-body-max-width: 45rem
  --layout-body-side-gap: 1.5rem

  --layout-header-height: 8rem
  --layout-top-max-width: 60rem

  --layout-footer-height: 2rem

  --actions-panel-height: 5rem
  --actions-panel-border-height: 0.5rem
  --actions-panel-button-height: 2rem
  --actions-panel-hover-shift: -0.5rem
  --actions-panel-active-shift: -0.75rem

  // Layout variables for smaller devices
  +match-media(thin, below)
    --layout-navbar-height: 3rem
    --layout-sidebar-width: 16rem
    --layout-body-max-width: 45rem
    --layout-body-side-gap: 1rem

    --layout-header-height: 6rem
    --layout-top-max-width: 60rem

    --actions-panel-border-height: 1rem

  // Variables that probably shouldn't be edited

  --layout-header-height-scalefactor: calc(var(--layout-header-height) / 8)
  //                        Center of screen | Offset to left edge of body | Remove the offset caused by sidebar
  //                                     v                  v                           v
  --layout-body-centering-factor: calc((50vw - (var(--layout-body-max-width) / 2)) - var(--layout-sidebar-width))
  // Total height of the header + navbar
  --layout-total-header-height: calc(var(--layout-header-height) + var(--layout-navbar-height))

  --actions-panel-total-height: calc(var(--actions-panel-border-height) + var(--actions-panel-button-height) + var(--actions-panel-height))

