@charset 'UTF-8'
@import 'sanitize.css'
// Reset
html
  cursor: auto
input
  font: inherit

@require '_lib'
@require '_colors'

// Components
@require 'critical/*'

// Boilerplate
html
  background: colvar('background-light')
  overflow: hidden

body
  overflow-x: hidden
  overflow-y: auto
  min-width: 100vw
  min-height: 100vh
  max-width: 100vw
  max-height: 100vh

#app
  color: colvar('text-dark')