@charset 'UTF-8'
@import 'sanitize.css'
// Reset
html
  cursor: auto
input
  font: inherit

@require '_lib'
  
// Components
@require 'modules/**/*-critical'

:root
  colvar-set(asdf, hsla(0, 0%, 10%, 1))
  colvar-set(asdf2, hsla(0, 100%, 100%, 0.5))