@charset 'UTF-8'
@import 'sanitize.css'
// Reset
html
  cursor: auto
input
  font: inherit

@require '_lib'
@require '_colors'

// Components
@require 'critical/*'

// Boilerplate

html, body
  scroll-behavior: smooth
  touch-action: manipulation
  font-size: 1rem  // Used for consistent sizing (shouldn't be messed with)
  line-height: 1.5 // Should also not be messed with

body
  background: colvar('background-light')

  // Basic layout
  $head-h = var(--layout-header-height)
  $foot-h = var(--layout-footer-height)
  width: 100%
  max-width: 100%
  min-height: 'calc(100vh + %s)' % $foot-h // Footer requires scrolling

  grid-kiss:"+---------+         ","| #header | $head-h ","+---------+         ","+---------+         ","| #app    | auto    ","+---------+         ","+---------+         ","| #footer | $foot-h ","+---------+         "

// Scrollbars
+match-media(thin, up)
  html
    scrollbar-width: thin

  // This webkit scrollbar matches Firefox's thin scrollbar fairly closely
  // Track
  ::-webkit-scrollbar
    width: 10px

  // Handle
  ::-webkit-scrollbar-thumb
      box-shadow: inset 0 0 10px 10px rgba(120, 120, 120, 0.35)
      border: 2px solid transparent
      border-radius: 5px

  ::-webkit-scrollbar-thumb:hover
    box-shadow: inset 0 0 10px 10px rgba(120, 120, 120, 0.5)

  ::-webkit-scrollbar-thumb:active
    box-shadow: inset 0 0 10px 10px rgba(80, 80, 80, 0.5)

  // Horizontal Handle
  ::-webkit-scrollbar-thumb:horizontal
      border: 5px solid transparent
      border-radius: 10px