@charset 'UTF-8'

// Library and Variables
@require '_lib'
// Modules
@require 'noncritical/*'

// Misc.

// Meaningful HTML Tags
// TODO: add black box <del> tag
// TODO: add ins green underline or something of the sort
// TODO: add <u> tag

mark
  background: colvar('highlight')
  color: colvar('black')
  label-for-screenreaders('highlighted text')
s
  label-for-screenreaders('stricken text')
ins
  label-for-screenreaders('newly inserted text')
