@charset 'UTF-8'
@import '_reset'

@require '_lib'
@require '_theme'

@require 'layout/*'
@require 'typography/*'

html, body
  font-size: 1rem
  line-height: 1.5
  touch-action: manipulation
  scroll-behavior: smooth

body
  width: 100%
  max-width: 100%
  min-height: 100vh

.in-edit
  height: 100vh
  overflow: hidden

#toasts, #modals
  position: fixed
  bottom: 0
  left: 0
  width: 100%
