@require '_lib'

#content
  position: relative
  padding: 2rem 0

#page
  min-height: 100vh

#editor-container
  position: sticky
  z-index: 90
  bottom: 0
  width: 100%
  pointer-events: none

  +match-media(thin, below)
    $gp = var(--layout-body-side-gap) 
    transform: 'translateX(calc(%s * -1))' % $gp
    width: 100vw
    max-width: 100vw
