@require '_lib'

// Nunito
@font-face
  font-family: 'Nunito'
  src: local('Nunito Black'), local('Nunito-Black'),
      url('/static/fonts/Nunito-Black.woff2') format('woff2'),
      url('/static/fonts/Nunito-Black.woff') format('woff')
  font-weight: 900
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito Black Italic'), local('Nunito-BlackItalic'),
      url('/static/fonts/Nunito-BlackItalic.woff2') format('woff2'),
      url('/static/fonts/Nunito-BlackItalic.woff') format('woff')
  font-weight: 900
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito Bold Italic'), local('Nunito-BoldItalic'),
      url('/static/fonts/Nunito-BoldItalic.woff2') format('woff2'),
      url('/static/fonts/Nunito-BoldItalic.woff') format('woff')
  font-weight: bold
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito Bold'), local('Nunito-Bold'),
      url('/static/fonts/Nunito-Bold.woff2') format('woff2'),
      url('/static/fonts/Nunito-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
      url('/static/fonts/Nunito-ExtraBold.woff2') format('woff2'),
      url('/static/fonts/Nunito-ExtraBold.woff') format('woff')
  font-weight: 800
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito ExtraBold Italic'), local('Nunito-ExtraBoldItalic'),
      url('/static/fonts/Nunito-ExtraBoldItalic.woff2') format('woff2'),
      url('/static/fonts/Nunito-ExtraBoldItalic.woff') format('woff')
  font-weight: 800
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito ExtraLight Italic'), local('Nunito-ExtraLightItalic'),
      url('/static/fonts/Nunito-ExtraLightItalic.woff2') format('woff2'),
      url('/static/fonts/Nunito-ExtraLightItalic.woff') format('woff')
  font-weight: 200
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito Italic'), local('Nunito-Italic'),
      url('/static/fonts/Nunito-Italic.woff2') format('woff2'),
      url('/static/fonts/Nunito-Italic.woff') format('woff')
  font-weight: normal
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
      url('/static/fonts/Nunito-ExtraLight.woff2') format('woff2'),
      url('/static/fonts/Nunito-ExtraLight.woff') format('woff')
  font-weight: 200
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito Regular'), local('Nunito-Regular'),
      url('/static/fonts/Nunito-Regular.woff2') format('woff2'),
      url('/static/fonts/Nunito-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito Light'), local('Nunito-Light'),
      url('/static/fonts/Nunito-Light.woff2') format('woff2'),
      url('/static/fonts/Nunito-Light.woff') format('woff')
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
      url('/static/fonts/Nunito-SemiBold.woff2') format('woff2'),
      url('/static/fonts/Nunito-SemiBold.woff') format('woff')
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito Light Italic'), local('Nunito-LightItalic'),
      url('/static/fonts/Nunito-LightItalic.woff2') format('woff2'),
      url('/static/fonts/Nunito-LightItalic.woff') format('woff')
  font-weight: 300
  font-style: italic
  font-display: swap

@font-face
  font-family: 'Nunito'
  src: local('Nunito SemiBold Italic'), local('Nunito-SemiBoldItalic'),
      url('/static/fonts/Nunito-SemiBoldItalic.woff2') format('woff2'),
      url('/static/fonts/Nunito-SemiBoldItalic.woff') format('woff')
  font-weight: 600
  font-style: italic
  font-display: swap

 // Daniel
@font-face
    font-family: 'Daniel'
    src: url('Daniel.woff2') format('woff2'),
         url('Daniel.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Daniel'
    src: url('DanielBlack.woff2') format('woff2'),
         url('DanielBlack.woff') format('woff')
    font-weight: 900
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Daniel'
    src: url('DanielBold.woff2') format('woff2'),
         url('DanielBold.woff') format('woff')
    font-weight: bold
    font-style: normal
    font-display: swap

// Sacramento
@font-face
    font-family: 'Sacramento'
    src: url('Sacramento-Regular.woff2') format('woff2'),
         url('Sacramento-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap

// Variable fonts
@supports (font-variation-settings: normal)
  // Vollkorn v4.106
  @font-face
    font-family: 'Vollkorn'
    src: url('/static/fonts/variable/Vollkorn-VariableFont.woff2') format('woff2')
    font-weight: 400 900
    font-display: swap

  @font-face
    font-family: 'Vollkorn'
    src: url('/static/fonts/variable/Vollkorn-Italic-VariableFont.woff2') format('woff2')
    font-weight: 400 900
    font-style: italic
    font-display: swap

  // Inter v3.15
  @font-face
    font-family: 'Inter'
    src: url('/static/fonts/variable/Inter-VariableFont.woff2') format('woff2')
    font-weight: 100 900
    font-display: swap

  // Fira Code v5.2
  @font-face
    font-family: 'Fira Code'
    src: url('/static/fonts/variable/FiraCode-VF.woff2') format('woff2')
    font-weight: 300 700
    font-display: swap
  
// Non-variable Fallbacks
// TODO: Add variable font fallbacks
// @supports not (font-variation-settings: normal)