@require '_lib'

// Set Classes
.fs-sans
  font-set('sans')

.fs-display
  font-set('display')

.fs-serif
  font-set('serif')

.fs-mono
  font-set('mono')

.fs-handwriting
  font-set('handwriting')

.fs-cursive
  font-set('cursive')

// Weight Classes
.fw-light
  font-weight: lighter !important

.fw-normal
  font-weight: normal !important

.fw-bold
  font-weight: bolder !important

$sel-content = 'main, article, section, #sidebar, #tabs_panels'
$sel-headings = 'h1, h2, h3, h4, h5, h6'
$sel-code-blocks = 'pre > code'
$sel-code-inline = 'code, var, samp, samp > kbd'
$sel-quotes = 'blockquote, q'

{$sel-content}
  font-set('sans', true)
  font-size: calc(1rem * var(--font-content-size))

  +match-media(wide, only)
    font-size: calc(1.05rem * var(--font-content-size))

  +match-media(thin, only)
    font-size: calc(0.95rem * var(--font-content-size))

  +match-media(narrow, only)
    font-size: calc(0.9rem * var(--font-content-size))

{$sel-code-inline}, {$sel-code-blocks}
  font-set('mono')

{$sel-headings}
  font-set('display')

// Orderly Heading Sizes
for $num in (0..5)
  h{$num + 1}
    $sizes = 2.25rem, 2rem, 1.75rem, 1.5rem, 1.25rem, 1rem
    $size = $sizes[$num]
    font-size: $size