@require '_lib'

// PrismJS Syntax highlighting.
// TODO: text selection colors

// #ABB2BF
// #5C6370
// #D19A66
// #56B6C2
// #E06C75
// #E5C07B
// #98C379
// #C678DD
// #61AFEF
// #2D8EDF

+prefix-classes('token.')
  .block-comment, .cdata, .comment, .doctype, .prolog
    color: #5C6370

  .punctuation
    color: #FFFFFF30

  .variable, .deleted, .tag
    color: #E06C75

  .inserted
    color: #98C379

  .function, .function-name, .attr-id
    color: #61AFEF

  .parameter, .property
    color: #2D8EDF

  .attr-name, .attr-value, .class-name, .builtin, .selector
    color: #E5C07B

  .boolean, .number, .constant, .symbol, .unit
    color: #D19A66

  .keyword, .atrule, .important
    color: #C678DD

  .namespace, .url, .char, .string
    color: #98C379

  .regex, .entity, .operator
    color: #56B6C2

  +prefix-classes('token.keyword-')
    .public, .private, .readonly, 
    .const, .let, .var, .new
      color: #56B6C2

    .this
      color: #E06C75

  .bold, .important
    font-weight: 700

  .italic
    font-style: italic

// Plugins

div.code-toolbar
	position: relative

div.code-toolbar > .toolbar
	position: absolute
	top: .3em
	right: .2em
	transition: opacity 0.3s ease-in-out
	opacity: 0

div.code-toolbar:hover > .toolbar
	opacity: 1

div.code-toolbar > .toolbar .toolbar-item
	display: inline-block

div.code-toolbar > .toolbar a
	cursor: pointer

div.code-toolbar > .toolbar button
	background: none
	border: 0
	color: inherit
	font: inherit
	line-height: normal
	overflow: visible
	padding: 0
	user-select: none

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span
	color: #bbb
	font-size: .8em
	padding: 0 .5em
	background: #f5f2f0
	background: rgba(224, 224, 224, 0.2)
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2)
	border-radius: .5em

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus
	color: inherit
	text-decoration: none