@require '_lib'

 // Daniel
@font-face
    font-family: 'Daniel'
    src: url('/static/fonts/Daniel.woff2') format('woff2'),
         url('/static/fonts/Daniel.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Daniel'
    src: url('/static/fonts/DanielBlack.woff2') format('woff2'),
         url('/static/fonts/DanielBlack.woff') format('woff')
    font-weight: 900
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Daniel'
    src: url('/static/fonts/DanielBold.woff2') format('woff2'),
         url('/static/fonts/DanielBold.woff') format('woff')
    font-weight: bold
    font-style: normal
    font-display: swap

// Sacramento
@font-face
    font-family: 'Sacramento'
    src: url('/static/fonts/Sacramento-Regular.woff2') format('woff2'),
         url('/static/fonts/Sacramento-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: swap

// Variable fonts
@supports (font-variation-settings: normal)
  // Rubik (commit 113)
  @font-face
    font-family: 'Rubik'
    src: url('/static/fonts/variable/Rubik-VariableFont.woff2') format('woff2')
    font-weight: 300 900
    font-display: swap

  @font-face
    font-family: 'Rubik'
    src: url('/static/fonts/variable/Rubik-Italic-VariableFont.woff2') format('woff2')
    font-weight: 300 900
    font-style: italic
    font-display: swap

  // Vollkorn v4.106
  @font-face
    font-family: 'Vollkorn'
    src: url('/static/fonts/variable/Vollkorn-VariableFont.woff2') format('woff2')
    font-weight: 400 900
    font-display: swap

  @font-face
    font-family: 'Vollkorn'
    src: url('/static/fonts/variable/Vollkorn-Italic-VariableFont.woff2') format('woff2')
    font-weight: 400 900
    font-style: italic
    font-display: swap

  // Inter v3.15
  @font-face
    font-family: 'Inter'
    src: url('/static/fonts/variable/Inter-VariableFont.woff2') format('woff2')
    font-weight: 100 900
    font-display: swap

  // Fira Code v5.2
  @font-face
    font-family: 'Fira Code'
    src: url('/static/fonts/variable/FiraCode-VF.woff2') format('woff2')
    font-weight: 300 700
    font-display: swap
  
// Non-variable Fallbacks
// TODO: Add variable font fallbacks
// @supports not (font-variation-settings: normal)